[2016-05-01 18:55] JordanMajd opened #1 "Establish Regular Member Meeting Times"
We need to establish a regular meeting time for the organization.
- Preferably a Thursday or a Friday.
- Biweekly or monthly
- Initially could  be over lunch, but as the org grows should be after work hours.

[2016-05-01 18:56] JordanMajd opened #2 "Acquire and setup Domain"
Need to acquire domain [codeforfoco.org](codeforfoco.org) and set it up to work with github pages.

[2016-05-01 18:56] JordanMajd opened #3 "Create Meetup Group"
Need to create a [Meetup](meetup) group where we can post our events.

[2016-05-01 18:57] JordanMajd opened #4 "Create Twitter and other social media accounts"
We need to create twitter and social media accounts to start spreading awareness of the organization and making connections within our community.

[2016-05-01 18:58] JordanMajd opened #5 "Mission Statement"
We need to define and establish our mission statement for both the website and all other org related material.

[2016-05-01 18:59] JordanMajd opened #6 "Register brigade with Code for America"
We need to officially register our chapter with Code for America. In order to do so we must complete the following:
- ~~Core Team~~
- Strategic Plan #9
- ~~Code of Conduct~~ #7
- ~~Community Partners~~ #11
- ~~Government Partners~~  #8

Just because a task has been completed doesn't mean that it can't be improved!

[2016-05-01 19:08] JordanMajd commented on #2
Domain purchased, opening up issue on website to configure.

[2016-05-01 19:08] #2 closed, assigned to JordanMajd

[2016-05-02 03:24] p5150j commented on #6
I'll get with Joesph and see if he can hook us up real quick

[2016-05-02 03:25] p5150j commented on #1
Let's shoot for Friday's as I'm in Fort Collins Thursday and Friday.... Thursdays usually catch up work for me though. Friday's just work meetings so let's shoot for that

[2016-05-02 03:26] p5150j commented on #3
Spoke with Shareese and she said we can use the Galvanize Meetup page!! She also said there's two or three others that she has created that we have full access to

[2016-05-02 03:27] p5150j commented on #2
Let me know if you need to spring for cash

[2016-05-02 16:32] JordanMajd commented on #2
Thanks, I'm not worried about it. Domain was pretty cheap.  At some point it might be fun to get `codeforfo.co` haha.

[2016-05-02 16:34] JordanMajd commented on #1
For now we could do a Friday lunch meeting every or every other week. As we expand we could switch it to a Friday afterwork meeting. Thoughts?

[2016-05-02 16:37] JordanMajd commented on #3
Awesome, it would be pretty cool to be able to use that page because the people who are already a part of that community.

I can only see one downside, it might be useful to have our own instead in the likely hood that we host events at other locations as well.  For example, if we had a Teach Kids to Code event at a middle school.

I might be over thinking it, or that could just be a problem we de

[2016-05-02 16:47] JordanMajd commented on #6
Cool I've been looking over the [Organizers Checklist](https://www.codeforamerica.org/brigade/organize/) and the [Brigade Organizers Playbook](https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.i0zqlxd516hk) which lists out what are the requirements to become a brigade.
- Core Team (currently just you and me)
- Strategic Plan (I'll create an issue for th

[2016-05-02 16:49] JordanMajd opened #7 "Create Code of Conduct"
We need to [implement a Code of Conduct](https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.o91zkk5ioexr) in order to be considered an official Brigade.

Once this has been completed be sure to update issue #6 .

[2016-05-02 17:06] JordanMajd opened #8 "Establish Government Partnerships"
We need to establish a solid relationship with our local government. I will be updating this post with the current status.
### Current Partnerships:
- City of Fort Collins: Ginny Sawyer, Project Manager for Open Data Initiative
### Currently in progress:
- Secretary of State: Andrew Cole, he is in charge of the state's Open Data Initiative and their hackathon Go Code Colorado.
- City of Fort Colli

[2016-05-02 17:11] JordanMajd opened #9 "Establish a Strategic Plan"
We need to establish a strategic plan for the next year.
# [Code for America's Tips](https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.jeuedkfo9mi6):
## Description

A strategic plan will help your Brigade identify what you want to do in 2016. Use this as an opportunity to collectively decide what your Brigade will focus on and how you will get there.
#

[2016-05-02 17:16] JordanMajd commented on #5
Current working draft pulled out of my ass:

[code]

[2016-05-02 17:52] JordanMajd commented on #8
Sent an email to Ginny, a project manager in charge of Fort Collins' open data initiative.

[2016-05-04 18:15] JordanMajd commented on #8
TODO: Open communications with Sam at FC Gov. about hackathon. Charisse and Ginny both know.

[2016-05-04 20:03] JordanMajd commented on #3
@p5150j I followed with Charisse and arrived at a decision,
- We will initially start using the Galvanize meetup group.
- Once we are more established, we will create our own.

[2016-05-04 20:03] #3 closed, assigned to nobody

[2016-05-04 20:19] JordanMajd commented on #1
@p5150j

Organizational meeting is set for Friday at 12:00

[2016-05-04 20:19] #1 closed, assigned to nobody

[2016-05-04 20:39] p5150j commented on #1
👍

[2016-05-05 20:50] #7 closed, assigned to nobody

[2016-05-07 02:26] JordanMajd commented on #8
Ginny will be joining our org meeting on Friday, May 20th!

[2016-05-07 02:31] JordanMajd commented on #8
@taramason I'd love to talk sometime more about your connections at the Capital.

[2016-05-07 17:56] taramason commented on #8
@JordanMajd sounds good, anytime. This is her slower time since the House is not in session. I think she was hoping to come up to foco to spend time with her nephew so maybe we could plan to have her up on a Friday when we meet? Or we can set something else up, let me know what u you're thinking!

[2016-05-07 20:33] Jayme-T commented on #8
Hey I also sent an e-mail to Susie Gordan she is in charge of the natural resource department for the City and I have done a few projects with her in the past. I just let her know we exist and a bit about us so she can help connect us to people or people to us. As we get more information she said she would like to sit down with us and hear more.

[2016-05-09 19:23] JordanMajd opened #10 "Logo Brainstorm"
This is an area to brainstorm logo ideas.

Leave a comment with your ideas or feedback on others ideas.

UPDATE: @taramason drafted up several designs, C was voted to be our logo

![20160602_225424](https://cloud.githubusercontent.com/assets/1037492/15975479/e99f2ab2-2f0a-11e6-835f-0666305544fc.jpg)

[2016-05-09 19:34] JordanMajd commented on #10
I was thinking it would be great if the logo could personify some of the qualities that make Fort Collins unique, a list of random qualities the logo could represent:
- Physical locations. Examples: Horsetooth Rock, Cache La Poudre, the Front Range, Old Town.
- Cultural Ideas. Examples: Agriculture, beer.
- Historical contexts. Example: The Overland Trail, Camp Collins, Fort Collins the military b

[2016-05-09 19:42] p5150j commented on #10
organic circuitry ?
`
 ¯\_(ツ)_/¯
`

![download](https://cloud.githubusercontent.com/assets/444888/15125728/9110bace-15eb-11e6-82c2-03916dede797.png)
![case-study-organic-growth-150x150](https://cloud.githubusercontent.com/assets/444888/15125735/9c1d0896-15eb-11e6-9db6-4c682b2902de.jpg)

[2016-05-09 22:42] taramason commented on #10
I really like the logo on #JordanMajd 's shirt... not that we should copy it but I like how simple it is but it also says colorado as well as coding. (Its the Colorado "C" with </> inside of it, I think). Is there any code or command in any language that says what we do in a funny/interesting way?    Then add something very Fort Collins to it?

[2016-05-09 22:43] taramason commented on #10
Also, the stack overflow logo is perfect. It says exactly what it does.

[2016-05-10 03:19] JordanMajd opened #11 "Establish Community Partnerships"
We need to establish a solid relationship with our local communities. I will be updating this post with the current status.
### Current Partnerships:
- Galvanize Fort Collins.
### In progress:
- [Code for Denver](http://www.codefordenver.org/)
- [Code for Boulder](http://www.codeforboulder.org/)
- [Front Range Weblab](https://www.frontrange.edu/programs-and-courses/corporate-training/web-developme

[2016-05-10 03:26] JordanMajd commented on #10
Code for Boulder's logo:

![](http://www.codeforboulder.org/wp-content/uploads/2014/03/CodeForBoulder-Logo-with-Name.png)

Code for Denver's logo:

![](http://www.codefordenver.org/static/img/logo-notext-red.png)

GoCode Colorado's logo:

![](https://alliedwomenentrepreneurs.org/wp-content/uploads/2016/01/logo.png)

Colorado logo:

![](http://www.designfiles.net/wp-content/uploads/2013/09/colorado

[2016-05-10 03:33] JordanMajd commented on #10
We could do something inspired by the Colorado Springs logo with several changes:
- instead of Pikes Peak have Horsetooth.
- different color scheme.
- maybe have code tags inside of Horsetooth.

![](http://fixercreative.com/wordpress/wp-content/uploads/2012/03/cos-logo-small1.png))

[2016-05-10 03:34] JordanMajd commented on #5
For now I'm going with:

[code]

[2016-05-10 03:34] #5 closed, assigned to nobody

[2016-05-10 13:27] taramason commented on #10
Yes, I love those.  I'll come up with some mock-ups this week or this weekend, hopefully ;)  Feel free to throw any new ideas my way if you get more.  Any color thoughts? The Pantone colors of the year are pink and blue...? just kidding...

[2016-05-11 02:39] JordanMajd commented on #10
Hahah,

I'm not much of a designer so I'm open for any ideas on color.

If I'm feeling really bold [Paletton](http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF) is really great for picking out pallets. I kinda go overkill on the triads.

Mostly, I just usually follow the [Material Design Style Guide](https://www.google.com/design/spec/style/color.html) when picking a color palette.

Like I said

[2016-05-11 16:21] taramason commented on #8
@JordanMajd - my contact at the State capital is going to be in town May 20th, I think she is on board with coming in to our meeting that day, but I am just realizing we scheduled someone from the city that day too? Will that work to have both of them?  I don't know if I will be able to get her up here again very soon...  Maybe a few months from now.

[2016-05-11 20:40] JordanMajd commented on #8
@taramason

It will work to have both of them. That should actually work out quite well!

[2016-05-11 21:49] taramason commented on #8
@JordanMajd -Her name is Kori Donaldson, Legislative Council, Colorado State

[2016-05-17 03:43] gabethexton commented on #4
Is there a base set of credentials we want to use for these?
I wouldn't mind going through and registering a bunch just to have them on lockdown.

namechk.com makes it easy to know what's available and codeforfoco looks really good (see attached)
[namechk_services_codeforfoco.xlsx](https://github.com/CodeForFoco/org/files/267386/namechk_services_codeforfoco.xlsx)

[2016-05-17 03:55] JordanMajd commented on #4
I haven't figured out what to do as far as credentials goes.

I was thinking we could have one master password hidden away that only a few people knew, and then use something like tweet deck to grant access to anyone who wants to post on the orgs behalf.

[2016-05-17 03:57] gabethexton commented on #10
I like this one... http://paletton.com/#uid=33x0Q0kubowLP00DJcknR-ueR++

[2016-05-17 13:36] taramason commented on #10
@gabethexton - you don't know how happy that made me :)  I like the colors, happy to run with them!

[2016-05-20 17:12] JordanMajd commented on #8
Today we are meeting with Ginny Sawyer, will update afterwards.

[2016-05-26 19:08] JordanMajd commented on #8
Partnership established with city of fort collins!

[2016-06-10 19:00] JordanMajd opened #12 "Logo Vote"
@taramason 's designs are up and voting is now open!

![20160602_225424](https://cloud.githubusercontent.com/assets/1037492/15975479/e99f2ab2-2f0a-11e6-835f-0666305544fc.jpg)

Please respond with A, B, C or D, where D is other.

Voting closes at the end of day on Wednesday the 15th.

[2016-06-11 05:00] Jayme-T commented on #12
C

[2016-06-13 22:57] ghost commented on #12
C

[2016-06-13 22:58] p5150j commented on #12
C

[2016-06-14 03:35] JordanMajd commented on #12
C

[2016-06-14 03:58] JordanMajd commented on #10
Be sure to vote on which design you like, see issue #12

[2016-06-14 04:51] Jayme-T opened #13 "How to Pitch an idea"
## Description

It would be helpful to create a standard of how pitch nights will look. If we are truly hoping to grow as an organization it would be good to go in with the idea that it is possible a lot of people will want to pitch ideas and by creating a format that people adhere to we can better support and prepare to help a variety of people/organization within our community. I am opening this

[2016-06-15 14:52] gabethexton commented on #12
B

[2016-06-15 14:53] DanielDwyer commented on #12
C

[2016-06-15 14:54] S204STi commented on #12
C

[2016-06-15 14:55] spogburn commented on #12
B

[2016-06-15 15:00] JordanMajd commented on #12
C is the winner! @taramason

## Results:
- C - 6 votes
- B - 2 votes
- A - 0 votes
- D - 0 votes

[2016-06-15 15:00] #12 closed, assigned to nobody

[2016-06-15 15:03] JordanMajd commented on #10
#12 decided the initial logo design. This thread will remain open to discuss the iterations of that design.

[2016-06-16 22:15] JordanMajd commented on #13
Thanks for opening up the discussion on this. Let's make this a topic of Friday's meeting.

[2016-06-17 21:22] JordanMajd commented on #4
@jeremyroelfs @gabethexton

Can you guys coordinate on getting us a FB page and a Twitter handle.

Currently I have, admin@codeforfoco.org pointing to Gabes email but I can update to forward it to whoever.

[2016-07-12 15:42] JordanMajd commented on #10
@taramason Thanks for creating a beautiful logo. I'm going to mark this issue as closed.

[2016-07-12 15:42] #10 closed, assigned to taramason

[2016-07-12 15:43] JordanMajd commented on #6
We are official!

[2016-07-12 15:43] #6 closed, assigned to nobody

[2016-07-12 15:51] JordanMajd commented on #9
# Current Project Management Plan:
- Alpha: we hand pick a small project and see them to completion. Rinse and repeat. When, we feel confident move to beta.
- Beta: we hand pick 5 organizations to a pitch night event and help them create a pitch. We have a panel judge which pitch wins based on a rubric. We seen the project to completion. Rinse and repeat. When, we feel confident move to beta.
- Re

[2016-07-12 15:52] JordanMajd commented on #13
I'm going to close this issue for the time being since we aren't focusing on a pitch off.

This will be re opened when we decide to have our first pitch night because it has some great points to consider.

[2016-07-12 15:52] #13 closed, assigned to nobody

[2016-07-12 15:54] JordanMajd commented on #4
We have the following social media accounts:

[Twitter is @codeforfoco](https://twitter.com/codeforfoco)
[Facebook is Code for Foco](https://www.facebook.com/CodeforFoCo)
[Meetups is Code for Fort Collins](http://www.meetup.com/Code-for-Fort-Collins/)

If you would like access to them PM on slack. Thanks

[2016-07-12 15:54] #4 closed, assigned to gabethexton

[2016-07-12 19:46] JordanMajd commented on #11
Closing, instead am creating a document to track this.

[2016-07-12 19:46] #11 closed, assigned to nobody

[2016-07-12 19:49] JordanMajd commented on #8
Closed and am creating a document to track this

[2016-07-12 19:49] #8 closed, assigned to nobody

[2016-07-12 19:51] JordanMajd commented on #9
Am moving to a document, closed

[2016-07-12 19:51] #9 closed, assigned to nobody

[2016-09-23 01:18] idcrook opened #14 "Trello is used for issue tracking on this repo"
https://trello.com/b/SG3YRDAF/cffc-organizational

[2016-11-11 01:30] itorain opened #15 "Need to cread an Onboarding.md"
Create an Onboarding readme with instructions. Instructions are:
* Pair with someone. Ideally there will be someone responsible for onboarding at meetings to pair with.
* Get into Slack and how to get started with slack
* How to setup github, and cloning website code
* How to contribute/link to how to contribute.md
## In the future add a github getting started documentation ( or link to freecodeca

[2016-11-11 01:31] itorain commented on #15
freecodecamp link(https://www.freecodecamp.com/challenges/save-your-code-revisions-forever-with-git)

[2016-11-18 02:13] englehorn commented on #15
I created a unboarding.md. Request to close this file. We are going to merge this with the contributing documenting.

[2016-12-05 22:51] #15 closed, assigned to nobody

[2016-12-09 01:28] menlatin opened #17 "Project Ideas"
We are actively looking to find our next project.

If you have an idea that you think could improve our community post it here. Whether it is an app we build ourselves or for someone else.

Be sure to be specific.

[2016-12-09 02:11] idcrook commented on #17
https://www.splcenter.org/20100216/ten-ways-fight-hate-community-response-guide

www.cuah.com is defunct

[2017-01-20 01:22] imbilltucker commented on #17
Publish a police blotter for Fort Collins, so citizens can see the police activity in their community.  It's hard to compete with greeley, but let's try.   q.v.:
http://www.greeleygazette.com/press/?p=1772

[2017-02-03 01:10] davidbhayes commented on #14
This is out of date. Github is now the primary holder of data for Code for Fort Collins.

[2017-02-03 01:10] #14 closed, assigned to nobody

[2017-02-03 17:55] idcrook opened #20 "Tag with GitHub topics"
Requires repo admin access.
GitHub just rolled out "Topic" tagging feature.

[2017-02-17 01:34] JordanMajd opened #21 "We should be listed on all CFA Listings"
We should contact CFA and ensure we are listed everywhere on their site:

- We are not listed on the [CFA Brigade Map](http://brigade.codeforamerica.org/brigade/)
- We are not listed in the [CFA Brigades List](https://www.codeforamerica.org/join-us/volunteer-with-us/list-of-all-brigades)
- ~We are not listed on map in [Volunteer With Us](http://codeforamerica.org/join-us/volunteer-with-us)~
- ~Not

[2017-03-01 23:39] afibarra commented on #17
@idcrook @JordanMajd @abettermap

https://github.com/CodeForFoco/org/issues/17#issuecomment-265914305

I've been working on a proof of concept for this idea. It is again a Java application running on Heroku + Postgres.

It's a small "message board" where you can create a post and then everyone else can start commenting on that post.

I'm not sure if I can go to the meeting tomorrow (03/02) but I w

[2017-03-10 02:24] JordanMajd commented on #17
Mona Maser, a local film maker who makes documentaries about issues in Northern Colorado. She is working on a film on Watershed issues and another on Gentrification.

She was looking for help with her website a couple of hours a week.

[2017-03-10 02:30] JordanMajd commented on #17
Reach out to the City of Fort Collins, Larimer County:

Something along the lines of:

"There are a lot of good ideas / initiatives in local government that are useful to the community - but there isn't always the support there to make it happen, whether financial or political. We have the capability to make it a reality."

Invite them to next meetup.

but more eloquent

- Peggy Lyle (Create Place

[2017-03-24 01:35] zerdnog commented on #17
Idea: Partner with the Fort Collins Mural Project in order to create an augmented reality application to present enhanced content from a mobile device. The FCMP commissions artists and identifies walls around town to paint murals on. What we could offer is the technical app backend so that artists could upload their mural as augmented reality markers as well as enhanced digital content. The digita

[2017-03-31 02:02] abettermap opened #22 "STEM Kids Program Directory"
Needs info (@travisglee, @menlatin, @chuckristau will input)

[2017-03-31 02:04] abettermap opened #23 "Farm Network"
- Compost database
- Local farm map
- @englehorn @abettermap @menlatin more input...

[2017-03-31 02:06] abettermap opened #24 "Election Data"
Voter encouragement.

Input needed from @DanLaRoche, @englehorn, @chuckristau

[2017-03-31 02:08] abettermap opened #25 "Snow Plow & Accident Data"
@DanLaRoche's baby.

- Best route app
- Easy to implement
- Why roads aren't plowed

[2017-04-07 01:42] englehorn commented on #23
I researched the Growing Project Community Compost site. It looks like the project has a map and small network of composting sites. Here are the links:
http://www.fcgov.com/recycling/composting.php
http://www.thegrowingproject.org/community-composting-the-compost-commons.html

[2017-04-14 01:04] englehorn commented on #23
This is an app that was developed by the Siskiyou Farm Cooperative in
Williams Oregon. It is an open source Heroku app and helps CSA members
learn about memberships, recipes, cooking and food info.

http://www.siskiyoucoop.com/csa/app/
@abettermap @menlatin

[2017-04-14 01:28] JordanMajd opened #26 "Develop process for starting new project"
Something along the lines of:

1. Write paragraph to describe project goals
1. Post paragraph to the website
1. Create Github Repo
1. Create Slack Channel

[2017-04-21 00:56] JordanMajd commented on #17
**Your Name:** Cynthia Wilson
**Email Address:** cynthia at argentostudios dot blog
**Description and Project/Problem:**
Independent grassroots multimedia journalism publication that focuses on film, music,literary, entrepreneurship,social justice, cycling and craft. It will be investigative and appealing to the voices of Fort Collins.

[2017-04-21 00:57] JordanMajd commented on #17
**Your Name:** andrew schneider
**Email Address:** schneider.andrew@gmail.com
**Description and Project/Problem:**
Create Places proudly supports the city's Neighborhood Connections pilot program and seeks opportunities to bring together creative and innovative people from across the city to leverage our time, talent, and treasure towards building a healthier, more connected community. To that end

[2017-04-21 00:58] JordanMajd commented on #17
**Your Name:** Jana Knapp Sanchez
**Email Address:** jana@alchemywithwords.com
**Description and Project/Problem:**
LaunchNo.CO is looking to create a community wide job board and will need help developing it.

[2017-04-21 01:00] JordanMajd commented on #17
Biz Girls

Aari talked with Biz Girls about working with them in the future.

[2017-04-21 22:42] JordanMajd commented on #20
Done!

[2017-04-21 22:42] #20 closed, assigned to nobody

[2017-04-28 16:22] JordanMajd opened #27 "Set up Zoho Email"
Set up Zoho email

[2017-04-28 16:22] JordanMajd opened #28 "Renew domain"
Renew the Code for Foco Domain

[2017-04-28 18:14] JordanMajd opened #29 "Submit IFFC Proposal"

[2017-04-28 19:30] #27 closed, assigned to JordanMajd

[2017-04-28 19:38] #29 closed, assigned to JordanMajd

[2017-04-28 19:47] #28 closed, assigned to JordanMajd

[2017-05-06 21:21] abettermap commented on #23
Open-source as in they used open-source tech or as in their code is available? I couldn't find it.

Growing Project only has 3 sites so the map is probably sufficient, but if they could benefit from anything additional then I am open to ideas.

[2017-05-12 01:35] davidbhayes commented on #26
This repository now outlines a simple procedure: https://github.com/CodeForFoco/org/blob/master/creating_a_new_project.md

[2017-05-12 01:35] #26 closed, assigned to nobody

[2017-05-12 01:40] JordanMajd opened #30 "Create boiler plate repository"
Has instructions to start new project, template README and LICENSE.

[2017-05-12 02:03] JordanMajd commented on #30
Done, see [project template](https://github.com/CodeForFoco/project-template)

[2017-05-12 02:03] #30 closed, assigned to nobody

[2017-05-12 18:28] JordanMajd commented on #21
Emailed Monique

[2017-05-12 18:29] JordanMajd opened #32 "Can we get free AWS Credits?"
CFA has mentioned they have AWS credits available for our use. I have emailed Monique in regards to how we can start using them.

[2017-05-12 18:30] JordanMajd commented on #24
This project has started development: [CERP](https://github.com/CodeForFoco/CERP)

[2017-05-12 18:30] #24 closed, assigned to nobody

[2017-05-12 19:13] JordanMajd opened #33 "Renewable Energy Meter"
Entering this even though it has already been approved because I want everything that goes through the idea submission to be tracked in the org repo:

[code]

Is now [Solar Scorecard](https://github.com/CodeForFoco/solar-scorecard)

[2017-05-12 19:13] #33 closed, assigned to nobody

[2017-07-06 16:42] JordanMajd opened #34 "KidsTek"
Cacey McReavy recommended that we reach out to [KidsTek](http://kidstek.org/) and see if there is an opportunity for us to work together.

Website blurb:

[code]

[2017-07-28 01:00] davidbhayes opened #35 "We are not on the Code For America brigade list"
I was casually browsing through the Code for America site and found a list of all the brigades. That is here: https://www.codeforamerica.org/join-us/volunteer-with-us/list-of-all-brigades. We aren't on it. I feel like we should be.

@JordanMajd Do you have any sense where to start on this?

[2017-07-28 01:12] davidbhayes commented on #35
This is actually a dupe of #21

[2017-07-28 01:12] #35 closed, assigned to nobody

[2017-08-04 00:15] JordanMajd commented on #21
CFA got back to us and said she would look into adding us to the listings. However, it seems that went nowhere.

[2017-09-08 01:52] davidbhayes opened #36 "We Need Designers"
We need to have designers who are interested in (volunteer) work we can pull in to projects when design eyes would be helpful.

[2017-09-15 01:06] davidbhayes commented on #34
Moving to the Wiki page for now: https://github.com/CodeForFoco/org/wiki/Project-Ideas

[2017-09-15 01:06] #34 closed, assigned to nobody

[2017-09-15 01:09] davidbhayes commented on #25
Moved to Wiki

[2017-09-15 01:09] #25 closed, assigned to nobody

[2017-09-15 01:11] davidbhayes commented on #23
Moving to Wiki

[2017-09-15 01:11] #23 closed, assigned to nobody

[2017-09-15 01:12] davidbhayes commented on #22
Closed and moved to Wiki

[2017-09-15 01:12] #22 closed, assigned to nobody

[2017-09-15 01:18] davidbhayes commented on #17
Moved to Wiki

[2017-09-15 01:18] #17 closed, assigned to nobody

[2017-09-15 01:21] davidbhayes opened #37 "We need to have a way to develop larger-scale projects, find stakeholder, validate ideas, etc"
I'd love that we could have a team putting together ideas for projects, validating their ideas as MVPs before they see them, and then even going so far as creating wireframes for those ideas for which technical implementors could then build from.

[2017-09-15 01:22] davidbhayes opened #38 "Document and task out marketing strategy"
Who are we trying to get the attention of? What do we want that attention for?

[2017-09-15 01:25] davidbhayes commented on #36
I talked to Ayelet Golz (https://www.linkedin.com/in/ayeletgolz) this week about possibly collaborating with her (small) group of UX Designers who are interested in making a community impact. They were looking for a way to use design to solve the homeless project in Fort Collins.

Very provisional, but they're design folks and interested in seeing how they can get into having an impact on the comm

[2017-09-15 01:26] davidbhayes opened #39 "How do we put websites online? How do we pay for them (and other things)?"
The heart is that it'd be really cool that we could buy hosting for the Solar Scorecard, CERP, etc somewhere. But we don't have a method right now.

[2017-09-15 01:38] davidbhayes commented on #39
@JordanMajd Can we spend money through either LaunchNo.Co or CFA if we were to raise it? I'd be happy to put some money in, but it'd be great if we had an easy method of spending what funds we have.

[2017-09-15 01:41] davidbhayes opened #40 "Plan out 3 community events"
Hackathon? Pitch competition? Non-profit fair?

[2017-09-15 01:47] davidbhayes opened #41 "We need a standard documented workflow for new projects to be "ready""

[2017-09-15 01:56] davidbhayes opened #42 "Should we use the Wiki for process documentation? .md files in this repo? Other?"
Wiki Pros:

- Integrated into GitHub
- Possibly simpler for newbies

.md Pros:

- Commit credit ;p
- More "hacker"

[2017-09-21 23:24] davidbhayes commented on #40
Randomly was talking to a friend (Kelly) who recommended that we could find cheap or free event space at...

- The City of Fort Collins has some community rooms
- The Poudre River Library offers free room booking (subject to availability)
- The Group (the real estate company, has office off Harmony + Corbett)

[2017-09-26 01:36] davidbhayes opened #43 "Strategize meetup finances: how do we pay for things?"
Can we get a credit card? Debit? Paypal?

[2017-09-26 01:37] davidbhayes commented on #40
Outline from Megan + David brainstorm

- One hackathon
- One workshop
- Two parties

[2017-09-26 01:38] davidbhayes commented on #38
Social media for...?

Possibilities:

- Recruit new member
- Keep existing members informed
- Keep the community (non-members) about what we're doing

[2017-09-26 01:41] davidbhayes opened #44 "Track attendees (and those who drop away)? Could we use that to learn?"
Megan and I were talking a little and thought about taking attendance as a way to know how we're doing at maintaining members and also letting us reach out to people who stopped coming to know what (if anything) we can do better for new people. She also (kind of) volunteered to manage the outreach :)

[2017-09-26 01:46] davidbhayes opened #45 "Should we start to do community outreach to project-needing organizations?"
Things like coffee dates with people at non-profits and/or simply in the community that would have an interest in helping us find projects, make us more visible in the community and help us find more interesting and impactful projects.

[2017-09-26 01:48] davidbhayes opened #46 "Document strategy to find sponsors."
I think we've talked recently about holding off on this until at least one project is in a demo-able state. But beyond that, what should this look like? How do we know the right people to talk to? Do we set up meetings via the front door, or try to find internal partners and have them get management interested? Coffee-convos or pitch-based?

[2017-10-13 00:48] JordanMajd commented on #39
I've been playing phone tag w/ Jana. I'll bring this up with her.

[2017-10-20 01:20] JordanMajd opened #47 "Update onboarding documents to match new format."
onboarding.md 's current focus is around getting someone signed up for git / slack, in our communication channels, and making their first contribution.

We have now changed new member night to social night. We should update the onboarding process to match.

[2017-10-20 01:22] JordanMajd opened #48 "Change location of social night to be more inclusive."
Move social night to somewhere that members who don't drink or are under 21 feel welcome.

[2017-10-20 01:46] peglegmeg commented on #48
Ideas
- Tea shop or coffee shop?
- Somewhere closer to campus
- Moe's, Jim's Wings, or Illegal Pete's (easy to eat / drink / both / neither)
- Wild Boar
- Bowling!
- Pub quiz?

[2017-10-20 01:47] peglegmeg commented on #48
"Trader Joe's" -- David

[2017-10-20 02:23] davidbhayes opened #49 "Define "ideal project" for us so we can send it to prospects"
Basically a useful description of that so that we have something to give to external stakeholders

[2017-10-20 02:26] davidbhayes opened #50 "Define requirements for project leader/manager/etc?"
So that it's clear for them, clear for us

[2017-10-20 03:42] JordanMajd commented on #40
On board for setting a goal to making events happen. A hackathon, a workshop and a party all sound good. This will also help us move in the direction we need to for sponsorship.

Let's set rough dates for each of these events and put together a roadmap of everything we will need to do to make the event a success (marketing, sponsorship etc...)

[2017-10-20 03:44] JordanMajd commented on #41
Is [Creating a New Project](https://github.com/CodeForFoco/org#creating-a-new-project) adequate?

If not what should we add / change to get it to where it needs to be?

[2017-10-20 03:58] JordanMajd commented on #43
We can get a card from CFA for our account with them if donations go through them. I'm trying to talk with Janna to see what launch NoCo offers but I haven't been available / she hasn't been available when we've tried.

[2017-10-20 04:07] JordanMajd commented on #38
Per our discussion tonight I will task out each item in the google doc, which should address this issue.

[2017-10-23 17:53] JordanMajd commented on #42
I'm partial to using `.md`, I use it for all of my personal note taking, all of my dev documentation etc....

At the moment nobody seems to read our files, but that might have more to do with the fact that they don't have useful information.

Anybody else have preferences?

[2017-10-23 17:55] JordanMajd opened #51 "Add other Brigadeers to CFA Slack"
If you would like to be included let me know.

[2017-10-26 20:10] JordanMajd opened #52 "Maintain CFFC blog"
Post 2-3x monthly on topics generated by group:

- Project spotlights.
- Tip for coders / nonprofits who aren't technical.
- Engage other nonprofits in community / local government.

Blog post ideas:

What is Open Data?
- What is it and why do we care?
- How can the community benefit from open data?
- How can it be used by us to help our community?

[2017-10-26 20:15] JordanMajd opened #53 "Task out roadmap to optimize website SEO"
We need to add tasks to the [website repo](https://github.com/CodeForFoco/codeforfoco.github.io) in order to start working towards better SEO.

Some tasks:

- Audit entire website.
- Optimize all new content.
- Identify and create new landing pages for website.
- Add page for sponsors.
- Add Keywords.

[2017-10-26 20:19] JordanMajd opened #54 "Update social media"
Keep Facebook and Twitter regularly updated:

- Update three times weekly
   - 1 external, community post
  - 1 internal advertisement / update
  - 1 important coding-related post (PM people on slack or talk to them at meeting for code tip of the week!)

In order to add user to Facebook: `Page → Settings → Page Roles → Add name → UserRole`.

In order to add users to TweetDeck: `TweetDeck → Account

[2017-10-26 20:22] JordanMajd opened #55 "Set up email marketing campaign"
- [ ] Sign up for mailchimp.
- [ ] Collect all email addresses for current members/attendees.
- [ ] Start taking a formal “attendance” at meetings/collecting contact info.
- [ ] Send welcome email.
  - Include link to code of conduct.
  - Build survey about goals / interests
  - Add links to GitHub, Slack, etc.
- [ ] Write monthly emails to entire listserv
- [ ] Manage list serv
- [ ] Emails shoul

[2017-10-26 20:25] JordanMajd opened #56 "Send out regular team updates"
Send out regular updates in the #general slack channel:

At the end of a meetup either collect status updates from all project managers or require project managers to post:
   - What in did you accomplish today?
   - What do you aim to accomplish in the next week?
   - What are your needs to make it happen?

[2017-10-26 20:26] JordanMajd commented on #32
Not through CFA, but through AWS. Applying, will take time to hear back.

[2017-10-26 20:27] #32 closed, assigned to JordanMajd

[2017-10-26 20:29] JordanMajd opened #57 "Apply to AWS for credit grant."
- Talk to people in CFA Slack who have done this.
- Apply [AWS for Nonprofits](https://aws.amazon.com/government-education/nonprofits/).

[2017-10-26 20:35] JordanMajd opened #58 "Meet with local nonprofit members."
Meet with local nonprofits to learn and talk with them on a monthly basis.

[2017-10-26 20:37] JordanMajd opened #59 "Make document of community contacts"
Keep a list of relevant groups and their contacts. This can be used to plan events together.

- Women Who Code, Girl Develop It.

[2017-10-26 20:38] JordanMajd opened #60 "Encourage members to join lateral groups"
Members engaging in other parts of the community will help us understand others needs, spread awareness of our mission, and actively engage with the community.

[2017-10-26 20:40] JordanMajd opened #61 "Build relationship with CSU"
Meet with 2-3 CSU faculty in the first six months of 2018.

Build a contact list:
- Add emails, names etc... to a document (see #59)
- Send reach out emails.

[2017-10-26 20:41] JordanMajd opened #62 "Add Megan as organizer of Meetup page."

[2017-10-26 20:44] JordanMajd opened #63 "Plan more established social nights"
Plan social nights a head of time, keep them mixed up, fun and exciting. Also insure the meetup description is engaging.

[2017-10-26 20:46] JordanMajd commented on #55
See also #44

[2017-10-26 20:48] JordanMajd commented on #43
Things to pay for:

- Domains
- Hosting
- Spontaneous monthly surprises like cupcakes
- Beer
- Pizza
- Event space
- Hackathon Prizes

[2017-10-26 20:49] JordanMajd opened #64 "Actively try to engage a more diverse audience."
Right now, we currently fit the stereo type of a group of coders. We should actively engage our community to bring in a more diverse audience and hold ourselves accountable to be more inclusive.

[2017-10-26 20:52] JordanMajd commented on #40
Notes from meeting w/ Dan:

- To keep people involved we host a quarterly event.
- Specifically look for partners to throw the event with.
- Starting with women who code group.

[2017-10-26 20:55] JordanMajd commented on #59
Related: #61

[2017-10-26 20:56] JordanMajd opened #65 "Engage with other local brigades"
A lot of the Brigades that come from the same state have shared projects and communication (like a shared slack).

Reach out to Code for Boulder and Denver. Remember to document them as community contacts (see #59 )

[2017-10-26 20:57] JordanMajd commented on #59
Related: #65

[2017-10-26 20:58] JordanMajd opened #66 "Remake connections with Code for America laisons"
Reach out to Erie and Christopher at CFA to talk with them more to understand how they could support us and let them know what our needs are.

[2017-10-26 21:00] JordanMajd commented on #58
Related discussion with Dan, after visiting CFA Congress:

Becoming a Servant volunteer group:

- Most successful and impactful projects are driven by other groups.
- Code for * brigades are driving a tech solution for it.

How would you execute:

- One of the quarterly meetups being specifically about pulling a bunch of volunteer organizations in a room. People share they successes of using tech

[2017-10-26 21:01] JordanMajd commented on #40
Related notes from meeting with Dan:

- One of the quarterly meetups being specifically about pulling a bunch of volunteer organizations in a room. People share they successes of using tech in nonprofit space.

- Throwing events and hosting speakers from other organizations. Lets all meet and listen to this person and then mingle afterwards. Something like the startup week.

[2017-10-26 21:03] JordanMajd commented on #38
I believe I've tasked out all of the items that Megan listed out. It would probably be good to create an `md` or wiki page with the strategy on it too. Just so it doesn't get lost with time but we have a reference we can always come back to.

[2017-10-26 21:08] JordanMajd opened #67 "Meet with Innosphere staff about adding events to their calendar."

[2017-10-26 21:10] JordanMajd opened #68 "Outline how this repo should be organized"
Create an outline of how this repo should be organized and what subjects it should discuss.

[2017-10-26 21:12] JordanMajd opened #69 "Reorganize github organizations people & teams"

[2017-10-27 01:36] JordanMajd opened #70 "Sign up for TechSoup"
TechSoup offers a lot of benefits to nonprofits.

[2017-10-27 01:36] #70 closed, assigned to JordanMajd

[2017-11-10 01:57] davidbhayes commented on #58
Can we plan to do this (a big single event to have local nonprofits talk to us and each other about technology) in February or March? I think this basic idea of trying to find local stakeholders and pull them all into the same room would be good for us. Should this be a first-of-the-month meeting? Or should we do it some other time?

[2017-11-10 01:59] davidbhayes commented on #58
Actually, let's plan to do this on Thursday, March 1 during 2018 Startup Week. That could work really well. Let's plan to hold a "technology and nonprofits" panel/event and party.

[2017-11-10 02:05] davidbhayes commented on #69
What are the goals of this reorganization? (This is a project 🤓)

[2017-11-10 02:06] peglegmeg commented on #58
To clarify, we would like to host an event during start up week that invites area nonprofits and do a soft-pitch to ask for projects?

I think the core idea is great. We will just need to outline some goals and how we want to execute them and measure their success.

[2017-11-10 02:11] davidbhayes commented on #58
It's a combo. A celebration of us, and them, and a summit sort of event so they can talk to each other and to us. Ideally we can give valuable insight/information for people who aren't going to have a project for us right now but so they want to come anyway

[2017-11-10 02:12] davidbhayes commented on #62
Done :)

[2017-11-10 02:12] #62 closed, assigned to nobody

[2017-11-10 02:20] davidbhayes commented on #48
## Proposal of upcoming locations

December: Wild Boar (tea/cofee/wine/food, near Prospect & College)
January: Jim's Wings (wings, beer, Campus West)
Feb: Coopersmiths (Old Town Square)

[2017-11-10 02:21] peglegmeg commented on #66
When we do this, can we also ask them for ideas for events that they've held in the past—or other code groups have held in the past—that have shown great success? It would be helpful to get insight before we plan our March event. Thanks JorJor!!

[2017-11-10 02:21] peglegmeg commented on #58
Got it. Budget? @JordanMajd

[2017-11-10 02:22] peglegmeg commented on #48
Hear hear!

[2017-11-10 02:23] davidbhayes commented on #63
This feels like a dupe of #48. Ima close for that. But if it's different please reopen and clarify :)

[2017-11-10 02:23] #63 closed, assigned to nobody

[2017-11-10 02:23] davidbhayes commented on #65
Who should own this? I'd be happy to do it, though if you know anyone @JordanMajd I'm also happy for you to lead

[2017-11-10 02:24] peglegmeg opened #71 "Conduct an SEO website audit in consultation with Jordan & Jason"
Let me know which Thursday works for y'all. Or if you'd rather meet outside of normal CFFC hours.

[2017-11-10 02:25] peglegmeg commented on #71
Changed it to imperative ;-)

[2017-11-10 02:42] davidbhayes commented on #59
@peglegmeg is building a Google Doc Sheet for this. I don't like Google Docs 🤓

[2017-11-10 03:14] peglegmeg commented on #59
David is a baby! 👼🍼🐥👶🐣🚼

Megan Lee
www.meetmeganlee.com
LinkedIn <http://www.linkedin.com/in/leemeganelizabeth/> | Twitter
<http://twitter.com/peglegmeg> | Google+
<https://plus.google.com/+MeganLeeMeihua/posts>

On Thu, Nov 9, 2017 at 7:42 PM, David Hayes <notifications@github.com>
wrote:

[2017-11-10 21:24] JordanMajd commented on #58
We'll have to list out what our needs are and what the cost will be. Then seek out in kind donations (new belgium 60 or 90 days in advance for free beer, Techsystems for more free beer and food)  as well as sponsors for the event.

[2017-11-11 15:38] peglegmeg commented on #58
Helpful. I'll start putting together a project in GitHub and go from there.
Thanks!

Megan Lee
www.meetmeganlee.com
LinkedIn <http://www.linkedin.com/in/leemeganelizabeth/> | Twitter
<http://twitter.com/peglegmeg> | Google+
<https://plus.google.com/+MeganLeeMeihua/posts>

On Fri, Nov 10, 2017 at 2:24 PM, Jordan Majd <notifications@github.com>
wrote:

[2017-11-17 01:57] #67 closed, assigned to nobody

[2017-11-17 02:26] JordanMajd opened #72 "Email Women Who Code about FCSW event"
Arrange phone call to discuss / collaborate the event.

Focus:
- How coders can be a positive influence in their community (or something).
- How tech orgs are (can / want) helping local nonprofits?

Would they be interested in cohosting?
Who else would be interested in participating?
Panel or speaker?

[2017-11-17 02:29] JordanMajd opened #73 "Email Andrew about FCSW event."
Ping email about hosting an FCSW event for CFFC and other local tech communities.

[2017-12-14 23:08] davidbhayes opened #74 "IDEA: Hack Days"
Totally random idea to put somewhere: “Hack Days” on some arbitrary Sat or Sun or holiday. Just a longer version of "Hack Night". Roughly one-per-quarter. Just a pure “work day” for the hardcore to get lots done. Something like 9-5, then maybe dinner and drinks after.

[2018-01-05 01:58] davidbhayes commented on #73
I've got a thread running with Andrew about this, but it's not super active.

[2018-01-05 02:03] davidbhayes commented on #58
Setting up a coffee meeting now with Grant Stump from United Way

[2018-01-05 02:11] davidbhayes commented on #49
## First draft

Code for Fort Collins is a small volunteer organization. As such, our best projects have a few core things: a relaxed timeline, some clear reason that a volunteer wants to work on them, and a single or small group of stakeholders who will help us solve problems and market the project.

Things that make them even better: evidence they will be successful and impactful if used (and th

[2018-01-05 02:14] davidbhayes commented on #45
Closing because I feel that @DanLaRoche and I are both working on this and this issue isn't reminding us/me of anything useful.

[2018-01-05 02:14] #45 closed, assigned to nobody

[2018-01-05 02:15] davidbhayes commented on #37
Closing as a known but hard to solve non-task

[2018-01-05 02:15] #37 closed, assigned to nobody

[2018-02-16 02:07] davidbhayes commented on #73
Closing as dropped

[2018-02-16 02:07] #73 closed, assigned to nobody

[2018-02-16 02:07] davidbhayes commented on #72
This is running dropped. I do need to follow up with Lindsay soon though

[2018-02-16 02:07] #72 closed, assigned to JordanMajd

[2018-02-16 02:08] davidbhayes commented on #56
Closing this as managed by myself now

[2018-02-16 02:08] #56 closed, assigned to nobody

[2018-02-16 02:11] davidbhayes commented on #48
Closed as we're reducing the number of social nights and probably won't travel with them away from Cohere soon

[2018-02-16 02:11] #48 closed, assigned to nobody

[2018-02-16 02:11] davidbhayes commented on #51
@JordanMajd Can you invite me or whatever is necessary?

[2018-02-16 02:13] davidbhayes commented on #58
Closing as the discussion is largely off topic (an event we're not doing now). But this is a good idea and one I'm personally managing for right now

[2018-02-16 02:13] #58 closed, assigned to nobody

[2018-02-16 02:15] davidbhayes commented on #55
Closing as using Meetup emails is an easier and good-enough solution given our current amount of leadership capacity

[2018-02-16 02:15] #55 closed, assigned to nobody

[2018-05-18 18:31] #74 closed, assigned to nobody

[2018-05-18 20:56] #71 closed, assigned to nobody

[2018-05-18 20:56] #57 closed, assigned to nobody

[2018-05-18 20:57] #44 closed, assigned to nobody

[2018-05-18 20:57] #52 closed, assigned to nobody

[2018-05-18 20:58] #42 closed, assigned to nobody

[2018-05-18 20:58] #36 closed, assigned to nobody

[2018-05-18 20:58] #60 closed, assigned to nobody

[2018-05-18 21:06] davidbhayes opened #75 "Create and Nominate for More-Formal Roles"
Here's my very first-pass attempt to list all the needs we regularly have, or should have.

# Lead/Captain/Chair(s)

Ideally more than one person is "in charge". "In charge" doesn't mean they make all the decisions, but they solidify and act on decisions, and answer for the direction of the group to internal and external stakeholders.

# Meeting-Leads

These people need two things: the ability to

[2018-05-18 21:21] davidbhayes opened #76 "Create and Share New-Member-Night Talking Points"
# Who We Are

Code for Fort Collins is a volunteer organization which aims to use technological skills to make the community better. Around that mission, we have a variety of positions and needs.

# What We Do (How it Works)

Ideally, we serve to make it easy for volunteers (coders) to have a positive impact by quickly matching them with

# What We've Done (Celebrate successes and flesh out possib

[2018-05-18 21:22] #69 closed, assigned to nobody

[2018-05-18 21:23] #64 closed, assigned to nobody

[2018-05-18 21:26] #41 closed, assigned to nobody

[2018-05-18 21:26] #39 closed, assigned to nobody

[2018-05-18 21:28] davidbhayes commented on #66
This one if for me to speak to someone there, and be in their Slack. @DanLaRoche is helping.

I'm also hoping that CFBoulder and or CFDenver could help up with this.

[2018-05-18 21:29] #68 closed, assigned to nobody

[2018-05-18 21:29] #59 closed, assigned to nobody

[2018-05-18 21:30] #51 closed, assigned to JordanMajd

[2018-05-18 21:30] #53 closed, assigned to nobody

[2018-05-18 21:31] #46 closed, assigned to nobody

[2018-05-18 21:31] #38 closed, assigned to nobody

[2018-05-18 21:31] #40 closed, assigned to nobody

[2018-05-18 21:59] davidbhayes commented on #76
Add links and mentions of

* Code of Conduct: https://github.com/CodeForFoco/org/blob/master/Code_of_Conduct.md
* Slack invite (app): https://codeforfocoslack.herokuapp.com
* https://github.com/CodeForFoco

[2018-05-19 17:31] davidbhayes opened #77 "Create and codify more complete, clear, and documenting project creation flow"

[2018-05-19 17:53] davidbhayes opened #78 "Create Mission > Vision > Goals documents"

[2018-05-19 18:24] davidbhayes commented on #78
![Druckers questinz by davidbhayes](https://i.imgur.com/3fgAaMv.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-19 18:27] davidbhayes commented on #65
I'm on this. I reached out to both CFBoulder and CFDenber this morning.

[2018-05-19 18:31] #54 closed, assigned to nobody

[2018-05-19 18:32] davidbhayes commented on #50
This is part of my roles development in #75, so closing

[2018-05-19 18:32] #50 closed, assigned to nobody

[2018-05-19 18:33] davidbhayes commented on #49
This exists as Ideal_Project.md in this repo

[2018-05-19 18:33] #49 closed, assigned to nobody

[2018-05-19 18:37] davidbhayes commented on #21
The listed map and listing above seem to have been consolidated onto https://brigade.codeforamerica.org/. But we're not there. I'm working on this though

[2018-05-19 19:05] davidbhayes commented on #21
I think I got to the bottom of this. We're not on this (https://docs.google.com/spreadsheets/d/1zglhAKDUNnvKindAhb6K_DJaLQ_myRYGKvE2DTYolAQ/edit#gid=0) and that seems to be the core of the issue. Have started that process, I think

[2018-05-19 19:06] davidbhayes commented on #66
I've gotten into the Slack. A lot of answers about the CFA support are also likely at: https://brigade.codeforamerica.org/resources, which I haven't yet read in full.

[2018-05-19 20:02] DanLaRoche commented on #78
Here is my stab at these questions. It might be a good exercise to have multiple people fill this out to make sure we're all on the same page about the group.

[Answers to Drucker's Questions, Google Doc](https://docs.google.com/document/d/1El7pujegSMfyXTRl2BJr4gpUeLTsosxudh-GhaIyDN8/edit?usp=sharing)

[2018-05-19 20:04] DanLaRoche commented on #78
This blog has some interesting elaborations on the questions, if you were like me and had no idea what the difference is between primary and supporting customers:
http://govinnovators.com/2014/10/druckers-5-questions/

[2018-05-24 19:19] davidbhayes commented on #66
@DanLaRoche and I are scheduling a meeting with their on-boarding coordinator now. I think I'll close this as in-progress and not needing to still exist here.

[2018-05-24 19:19] #66 closed, assigned to nobody

[2018-05-26 16:59] abettermap commented on #78
Looks good, Dan. Nicely written.

[2018-06-08 03:24] davidbhayes commented on #78
# 1. What is your mission?

The mission of CFFC (Code for Fort Collins) is two-fold. On the one hand, we want to have satisfied volunteers who continue to serve in the organization and get value from doing it. Hopefully, they're learning, padding their resumes, and feel that they're making a difference in the community (they are).

On the service side, I see the mission of CFFC as being that no wo

[2018-06-08 03:28] davidbhayes commented on #75
It would be **amazing** to have someone write a monthly blog post, and deliver it to the Meetup email system as one of those too

[2018-06-14 21:58] davidbhayes commented on #21
Resolved! Thanks to @tdooner and the CFA staff 🙌 We're all over: https://brigade.codeforamerica.org/

[2018-06-14 21:58] #21 closed, assigned to davidbhayes

[2018-06-14 22:05] tdooner commented on #21
We're glad to have you back on the map! 🎉

[2018-07-13 01:14] davidbhayes commented on #76
Add more of what and how CFA works to this: https://www.codeforamerica.org/how/values

[2018-08-17 19:06] davidbhayes commented on #75
I had the idea that "Subject Matter Expert" lists would be useful. Something where people identify that they are either qualified experts in a topic, or that they would like to be one. So we could have a flexible/informal "WordPress" "Python" "Technology Choice" etc teams. This way when you have an issue, you can call on the team and access  relevant expertise there without needing to go through t

[2018-08-17 19:38] davidbhayes commented on #65
I'm closing this as complete. I've got pretty good connection with the Code for Boulder people, and have talked to Denver once. I'm starting a regular every-other month Code for Colorado brigade meeting which will happen for the first time on Tuesday evening September 4, 2018. Writing down now to email everyone on that soon though 🤓

[2018-08-17 19:38] #65 closed, assigned to nobody

[2018-08-17 19:51] davidbhayes commented on #43
The answer to this is pretty clear, as a Code for America brigade. They're a fiduciary, which means, in short:

- If/when we raise money from anyone, we get it donated to Code for America, with a designation that it's for us.
- If/we we spend money, it needs to go a brigade member's card. We then submit the cost as an expense to CFA, and that brigade member is reimbursed.

I'll expand on this and

[2018-08-17 19:51] #43 closed, assigned to nobody

[2018-08-17 20:01] davidbhayes opened #79 "Hold first Quarterly Leadership meeting"
attn: @DanLaRoche, @abettermap, Ian Skor, and anyone else

I think we should hold ~quarterly meetings about what the organization is doing, should be doing, etc. Attendance is contingent on your interest. Maybe something like second Thursday evening of some month. Perhaps of Sep, Dec, Mar, and June (3, 6, 9, 12).

Why? Currently the vision docs in #78 #75 etc aren't really engaged with to the poin

[2018-08-17 20:09] davidbhayes commented on #79
Concretely, how about meeting at William Oliver's at 6:30pm on Thursday September 13?

[2018-08-24 16:19] davidbhayes commented on #77
Super useful resources on CFA Discourse about this: https://discourse.codeforamerica.org/t/project-frameworks-guidelines-checklists-etc/43

[2018-08-24 16:27] davidbhayes commented on #77
From review the above, the follow stuck out to me:

- I love CfBoston's simple problem statement directive in point 1: https://www.codeforboston.org/projects/
- I like the idea of a the Civic Tech Canvas: https://www.open-austin.org/civic-tech-canvas/
- OpenOakland's requirements are stringent but good: http://www.openoakland.org/how-to-be-an-openoakland-project/
- Code for Philly's Laddr (https:/

[2018-09-21 01:44] davidbhayes commented on #75
**Term limits** or seat limits may be a good idea. I like it, although I don't want to give up power :P

But I think rotating people into Captain roles would be good to spread responsibility, decrease burn-out, and generally get more people familiar with more roles.

[2018-09-21 01:46] davidbhayes commented on #75
**Quotas**: I also think we should have targets for people in roles: I generally feel like we should have:

* 2 or 3 Captains
* 5-10 Meeting leaders
* Project leaders and builders should probably be per-project, maximizing on *2 internal* and *1 external* project leaders.

[2018-09-21 01:49] davidbhayes commented on #75
**Requirements**: I think that it makes sense to have _some kind_ of activity requirement for project-leaders, meeting-leads, and captains. I don't think physical presence needs to be expected, but certainly some kind of "being in touch" would be expected. If your co-captains, team-members, etc don't feel like you're responsive you're not doing the job well enough to maintain the title.

[2018-09-21 01:55] davidbhayes commented on #61
I'm going to close this for now as too low of a priority. It's a good idea, but a leadership structure is 100x more important that cycling through a broken structure.

[2018-09-21 01:55] #61 closed, assigned to nobody

[2018-09-28 14:32] davidbhayes commented on #76
The document at the root of the project needs to evolve, but it's good enough to close this.

[2018-09-28 14:32] #76 closed, assigned to nobody

[2018-09-28 14:33] davidbhayes commented on #75
From an email conversation with Angel, we need to limit the people with access to Cohere to 5. Which basically means to me that the ideal number of meeting-leaders is 5.

[2018-09-28 14:35] davidbhayes commented on #47
Closing as completed my NewMemberNight.md

[2018-09-28 14:35] #47 closed, assigned to nobody

[2018-09-28 14:36] davidbhayes opened #80 "Update README"
It's not been checked in a long time, and probably has some wrong information.

Ideally, it'll be a readable-intro to both CFFC and this repo.

[2018-09-28 14:38] davidbhayes opened #81 "Update Contributing.md"
It's there. It's got some useful links at the bottom. But there are better places we can put the useful stuff. And it's got a lot of filler text that's kind of irrelevant to both the org repo and the organization.

[2018-10-30 20:58] davidbhayes opened #82 "Plan to run an event in ~summer 2019. A summit of Tech and Nonprofits"
We can use it to raise funds and also start to find more both volunteers and collaborators

[2018-11-09 03:56] davidbhayes commented on #79
Completed!

[2018-11-09 03:56] #79 closed, assigned to nobody

[2019-02-08 03:07] stevenabadie opened #83 "Remove meeting minutes"
The meeting minutes are no longer maintained. They can be removed or at least removed links to on articles or main pages.

[2020-09-18 00:44] stevenabadie opened #85 "Set up Mailchimp automated emails"
Set up Mailchimp automated emails for new signs up through Meetup. Update Meetup Welcome message to add:

"1. Sign up for our email list: eepurl.com/gTNkXb . We will send a short sequence of on-boarding emails over the next week to help you learn about the organization and prepare for a meeting. You will also get quarterly update emails and alerts for special events."

[2020-09-18 02:30] #83 closed, assigned to nobody

[2020-09-18 02:31] #82 closed, assigned to davidbhayes

[2020-09-18 02:31] #81 closed, assigned to nobody

[2020-09-18 02:31] #80 closed, assigned to nobody

[2020-10-01 22:42] stevenabadie opened #86 "Colorado SNAP design audit"
An audit of the design of all states social safety net services was started during the CFA National Day of Civic Hacking. They are trying to finish audits of all state's SNAP benefits by Oct 2nd. I'm late seeing this so they are offering an extension if needed.

The audit for the Colorado SNAP application that can be found on the [Colorado PEAK website](https://coloradopeak.secure.force.com/). The

[2020-10-02 02:36] stevenabadie opened #87 "Create CFFC meetup event for Brigade Congress"
Veronica Young requested we create a Meetup event on the Code for Fort Collins page for the Brigade Congress. They provided a [template to copy](https://www.meetup.com/OpenMaine/events/273580472/) so this should be a quick task.

[2020-10-02 02:41] stevenabadie opened #88 "Schedule Brigade Congress tweets"
Code for America provided an [outreach kit](https://docs.google.com/document/d/1RJxWA1yOxqxParsHd-DP5YkKXhUKzLFe37Qf97Noxoo/edit?pli=1) for brigades to market the Brigade Congress. Included in the kit are template tweets to send out that just need to be scheduled through buffer.

[2020-10-02 02:46] stevenabadie opened #89 "Send Meetup email for Brigade Congress"
Code for America provided an [outreach kit](https://docs.google.com/document/d/1RJxWA1yOxqxParsHd-DP5YkKXhUKzLFe37Qf97Noxoo/edit?pli=1) for brigades to market the Brigade Congress. Included in the kit is a template email to send out.

[2020-10-02 19:17] TimoMassa commented on #86
Hey @stevenabadie - I completed the PEAK eligibility pre screen and am in the process of filling out the template. Curious if you got word on an extension?  I can still finish at least the pre-screen today, and I agree it was worth doing.  Not sure if I can get both done today, but certainly by tomorrow.

[2020-10-02 19:37] stevenabadie commented on #86
Hey @TimoMassa , I just sent an email to Veronica to see how much time we had for an extension. I assume we'll have at least into early next week but I'll confirm here when she responds. Thanks for doing this! If you need any help feel free to ping me.

[2020-10-07 15:19] TimoMassa commented on #86
@stevenabadie here is the first one if you want to look over it and add any of your own thoughts or recommendations while I complete the actual application.  The main theme I noticed is that it seems to me like many of the pages could have been combined to reduce total number of pages.  As far as government websites go I actually found this to be pretty clear and concise - the audit template seems

[2020-10-07 17:11] TimoMassa commented on #86
Definitely noticed more "pain points" on the actual application.  I'm assuming they were ok with an extension since not that many are done on the master sheet.  I wish I'd noticed they were looking for an unemployment audit as well, I just signed myself up on Monday lol.  Seems like the one I did was TANF and SNAP, and would have also worked for WIC if I had selected that box.  I'll send you a lin

[2020-10-12 15:32] stevenabadie commented on #86
Hey @TimoMassa sorry for the delay in response. They did give an extension but no specific time line. I think even if we've missed it, the exercise is still useful. If there are concerning areas we may be able to attempt to bring the topic to the Colorado Digital Services group.

[2020-10-12 15:41] stevenabadie commented on #87
https://www.meetup.com/Code-for-Fort-Collins/events/273881695/?isFirstPublish=true

[2020-10-12 15:41] #87 closed, assigned to nobody

[2020-10-12 15:42] stevenabadie commented on #89
Manually sent the event announcement today.

[2020-10-12 15:42] #89 closed, assigned to nobody

[2020-10-12 15:55] stevenabadie commented on #88
Twitter and Facebook posts are scheduled on Buffer for Monday, Wednesday, and Thursday of this week.

[2020-10-12 15:55] #88 closed, assigned to nobody

[2020-11-20 01:49] stevenabadie opened #90 "Request codeforfoco.org email for Theresa"

[2020-11-20 17:19] stevenabadie commented on #90
@tfischbach you should be getting an email to your personal email to finish setting up the codeforfoco.org email. Going to close this out but feel free to reopen if you don't get the email.

[2020-11-26 16:16] tfischbach commented on #90
Have not seen an email about this - do you know where it would be coming from?

[2020-11-26 16:21] stevenabadie commented on #90
I think it should have gone to your personal gmail but maybe it didn't auto-send. Ceci gave us admin access to the org now so I've just sent the password reset request to your personal email.

[2020-11-26 16:33] tfischbach commented on #90
and all good!

[2020-11-26 16:33] #90 closed, assigned to stevenabadie